.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

node_modules/

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Text editors
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
